<Properties>
  <numOfcols-In-Maze>41</numOfcols-In-Maze>
  <numOfRows-In-Maze>41</numOfRows-In-Maze>
  <numOfFloors-In-Maze>4</numOfFloors-In-Maze>
  <numOfThreads>20</numOfThreads>
  <AlgorithmForMazeSolution>Bestfs</AlgorithmForMazeSolution>
  <straightMoveScore>10</straightMoveScore>
</Properties>